<header class="w-full h-auto">
    <nav class="relative container mx-auto w-full h-auto">
        <div class="flex items-center justify-between w-full h-auto">
            <div class="pt-2 flex space-x-6  justify-center items-center">
                <img class="h-16 w-25" src="../../assets/zoomitlogo1.png" alt="">
                <input type="text" class="h-12 pl-4" placeholder="ძებნა...">
            </div>
            <div id="header_section" class="flex space-x-6 text-custom-textcolor items-center">
                <div *ngFor="let item of header_title">
                    <a class="hover:text-custom-textcolorhover"  routerLink="">{{item.title}}</a>
                </div>
                
                <div class="flex gap-1" *ngFor="let item of header_button">
                    <a routerLink="" class="p-3 px-6 pt-2 text-white bg-custom-buttoncolor">{{item.title}}</a>
                </div>
            </div>
            
            <!-- responsive header -->
            <button #menuBtn (click)="onMenuButtonClick()" class="block hamburger lg:hidden focus:outline-none">
                <span class="hamburger-top"></span>
                <span class="hamburger-middle"></span>
                <span class="hamburger-bottom"></span>
            </button>
        </div>
        <div class="md:hidden">
            <div id="menu"  #menu [ngClass]="{ 'hidden': !toggleMenu, 'flex': toggleMenu }" class="absolute flex-col p-5 hidden self-end py-8 mt-10 space-y-6 font-bold bg-white sm:w-auto sm:self-center left-6 right-6 drop-shadow-md">
                <div *ngFor="let item of header_title">
                    <a href="#">{{item.title}}</a>
                </div>
                
            </div>
        </div>
    </nav>
</header>
